<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" @submit.prevent="onSearch">
            <input v-model="search" @keydown.enter="onSearch" placeholder="type something here...">
            <input type="submit" value="Search" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div v-if="loading">Loading...</div>
            <div v-if="items.length != 0" class="search-results">Found <strong>{{ itemsCount }}</strong> items for <strong>{{ lastSearch }}</strong></div>
            <div class="product" v-for="(item, index) in items">
                <div class="product-image">
                <img :src="item.link" />
                </div>
                <div>
                    <h4 class="product-title">{{ item.title }}</h4>
                    <p>Price: <strong>{{ price | currency }}</strong></p>
                    <button @click="addItemToCart(index)" class="add-to-cart btn">Add to cart</button>
                </div>
            </div>
            <div id="product-list-bottom">
                <div v-if="noMoreItems">No more items!</div>
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <ul v-if="cart.length != 0">
                <transition-group name="fade" tag="ul">
                    <li class="cart-item" v-for="(item, index) in cart" :key="item.id">
                        <div class="item-title">{{ item.title }}</div>
                        <button class="btn" @click="incItemInCart(index)">+</button>
                        <button class="btn" @click="decItemInCart(index)">-</button>
                        <span class="item-qty">{{ item.price | currency }} x {{ item.qty }}</span>
                    </li>
                </transition-group>
            </ul>
            <div>
                <div v-if="cart.length == 0">The cart is empty</div>
                <transition name="fade">
                    <div v-if="cart.length">Total: {{ total | currency }}</div>
                </transition>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="reload/reload.js"></script><!--just for dev-->
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
